[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "vendor/implot"]
	path = vendor/implot
	url = git@github.com:epezent/implot.git
[submodule "vendor/imgui-knobs"]
	path = vendor/imgui-knobs
	url = git@github.com:altschuler/imgui-knobs.git
